body
{
    font-family: 'Raleway', sans-serif;
}

a
{
    cursor: pointer;
}

nav a
{
    color:rgb(80, 75, 75) !important;
}

nav a:hover
{
    color:#000 !important;
}

.moreAnchor
{
    border: 1px solid black;
    padding: 5px 5px;
    transition: 0.4s;
}

.moreAnchor:hover
{
    border: 1px solid #6c63ff;
    background-color: #6c63ff;
    color:#fff !important;
}

#casesContainer
{
    overflow-x: hidden;
}

.wrapper1
{
    /* border: 1px solid; */
    position: relative;
}

.wrapper1 h2
{
    font-size:52px;
}

.wrapper1 p
{
    font-size:20px;
}

footer
{
    background-color: #2e2b6b;
    color:#fff;
    margin-top:50px;
}


.wrapper2
{
    margin-left: 2%;
    padding-top:6%;
}

.wrapper2 p
{
    margin-top:15px !important;
}

#below
{
    position: relative;
    bottom:0;
    text-align: center;
    margin-bottom:0px;
    margin-top:28px !important;
}

#detailsInfo
{
    display:none;
    text-align: center;
}

.stateAnim:hover
{
    border-bottom: 1px solid;
}

.rowWrap
{
    flex-wrap: wrap-reverse;
}

.centerMe
{
    text-align: center;
}

.medicalRow
{
    margin-top:40px;
}

#stateHeading
{
    display:block;
    width:100%;
}

.parameter
{
    text-align: right;
    letter-spacing: 2px;
}

#deaths
{
    color:#ff0000;
}

#recovered
{
    color:green;
}

#updated
{
    color:#1eb99c;
}

@media screen and (max-width:768px)
{
    .wrapper1
    {
        margin-top:15px;
    }
}

@media screen and (max-width:540px)
{
    #casesContainer
    {
        font-size: 14px;
    }
}

@media screen and (max-width:356px)
{
    #casesContainer
    {
        font-size: 10px;
    }
}



@media screen and (max-width:290px)
{
    #casesContainer
    {
        font-size: 8px;
    }
}

@media screen and (min-wdth:768px)
{
    .wrapper1
    {
        position: relative;
        top: 8%;
    }

    .wrapper1 h2
    {
        font-size:52px;
    }

    .wrapper1 p
    {
        font-size:20px;
    }
}

@media screen and (min-width:992px)
{
    .wrapper1
    {
        /* border: 1px solid; */
        position: relative;
        top: 35%;
    }

    .wrapper1 h2
    {
        font-size:52px;
    }

    .wrapper1 p
    {
        font-size:20px;
    }

}